<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/Css/all.min.css" rel="stylesheet" />
    <link href="~/Public/Css/LayoutSite.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
       
    @RenderSection("head", required: false)
</head>
<body>
    <section class="header bg-white">
        <div class="container">
            <div class="row py-2">
                <div class="col-md-3">
                    <a href="@Url.Action("Home","Site")">
                        <img src="~/Public/Img/logo.png" class="img-fluid" alt="" />
                    </a>
                </div>
                <div class="col-md-5 mt-md-4 text-right">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" style="width:10px" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-4 text-right mt-md-4">
                    <div class="khoi"><a href="@Url.Action("Index","LienHe")"><i class="fas fa-phone-alt"></i></a></div>
                    <div class="khoi"><a href="@Url.Action("Index","Giohang")"><i class="fas fa-cart-plus"></i></a></div>
                    <div class="khoi"><a href="@Url.Action("Login","KhachHang")"><i class="fas fa-user"></i></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="mainmenu bg-danger">
        <div class="container">
            @Html.Action("MainMenu", "Module");
        </div>
    </section>
    <section class="maincontent">
        @RenderBody();
    </section>
    <div id="widget-root" channel-id="1007b4d8-db75-49e8-a36b-f3699a012e7b"></div>
    <script defer src="https://chat.zozo.vn/resource/widget.js"></script>
    <script>
        setTimeout(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=231584730667533";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }, 3000);
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8JJ59N"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="widget-actions">
        <div class="z-btn-list">
            <!--div class="z-btn z-btn-facebook">
                <a title="Trò chuyện thông qua Facebook Messenger" target="_blank" rel="noopener"
                   href="http://m.me/925790224164852?ref=zozovn">
                    <img src="https://zozo.vn/public/theme/circle/images/widgets/fbmessenger.svg" alt="btn-facebook" /></a>
            </div-->
            <div class="z-btn z-btn-zalo">
                <a title="Chat với chúng tôi qua Zalo" target="_blank" rel="noopener"
                   href="https://zalo.me/0936018083">
                    <img src="https://zozo.vn/public/theme/circle/images/widgets/zalo.svg" alt="btn-zalo" />
                </a>
            </div>
            <div class="z-btn z-btn-callow">
                <a title="Gọi ngay" href="tel:0936018083">
                    <img src="https://zozo.vn/public/theme/circle/images/widgets/call.svg" alt="btn-callnow" />
                </a>
            </div>
        </div>
    </div>
    <style type="text/css">
    .widget-actions {
        position: relative;
    }
    .z-btn-list {
        position: fixed;
        bottom: 100px;
        right: 42px;
        z-index: 1001;
    }
    .z-btn-list .z-btn {
        margin-top: 15px;
    }

   
        #chat-widget #chat-wg-alert {
            display: none !important;
        }
    
    </style>
    <section class="Service bg-white py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Public/Img/free-delivery.png" class="img-fluid" />
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#"><h6>Miễn phí vận chuyển</h6></a>
                            <p>Miễn phí vận chuyển nội thành</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Public/Img/21284346.jpg" class="img-fluid" />
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#"><h6>Đổi trả hàng</h6></a>
                            <p>Đổi trả lên tới 30 ngày</p>
                        </div>
                    </div>
                </div><div class="col-md-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Public/Img/share.png" class="img-fluid" />
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#"><h6>Tiết kiệm thời gian</h6></a>
                            <p>Mua sắm dễ hơn khi online</p>
                        </div>
                    </div>
                </div><div class="col-md-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Public/Img/online-business.png" class="img-fluid" />
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#"><h6>Tư vấn trực tiếp</h6></a>
                            <p>Đội ngũ tư vấn nhiệt tình</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Công Ty</h3>
                    <ul>
                        <li><a href="https://routine.vn/introduce">Giới Thiệu Về Routine</a></li>
                        <li><a href="#">Tuyển Dụng</a></li>
                        <li><a href="#">Hệ Thống Cửa Hàng</a></li>
                        <li><a href="#">Chăm Sóc Khách Hàng</a></li>
                        <li><a href="#">Chính Sách Bảo Mật</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Chính Sách Khách Hàng</h3>
                    <ul>
                        <li><a href="#">Chính Sách Khách Hàng Thân Thiết</a></li>
                        <li><a href="#">Chính Sách Đổi Trả</a></li>
                        <li><a href="#">Chính Sách Bảo Hành</a></li>
                        <li><a href="#">Câu Hỏi Thường Gặp</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Kết nối với Routine</h3>
                    <div class="row">

                        <div class="lienhe"><a href="https://www.facebook.com/routinevn/?ref=page_internal"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="lienhe"><a href="https://www.youtube.com/watch?v=7tBviRxW4jk"><i class="fab fa-youtube"></i></a></div>
                        <div class="lienhe"><a href="https://www.instagram.com/routine_official/"><i class="fab fa-instagram"></i></a></div>
                        <div class="lienhe"><a href="https://www.pinterest.com/routinevn/_created/"><i class="fab fa-pinterest-p"></i></a></div>
                            
                        
                        
                    </div>


                </div>
                <div class="col-md-3">
                    <h3>Thông Tin Cửa Hàng</h3>
                    <ul>
                        <li>
                            <a href="#">
                                Cửa Hàng Thứ 29:
                                Địa chỉ: Số 25 đường 3/2, Phường 1, TP. Đà Lạt
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Cửa Hàng Thứ 28:
                                70-72 Ngô Đức Kế, phường Bến Nghé, Quận 1, TP.HCM - ĐT: 028.62.701.272
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright bg-danger py-3 text-center text-black-50">
        Design: Mind TEAM_01
    </section>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
            integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
            crossorigin="anonymous"></script>
    <script src="~/Public/Js/app.js"></script>
</body>
</html>
